
  .circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

 .img-center{
padding-top: 100px;
 } 
 .custom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #c7cacd;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #d9e2ec;
}