/* Rectangle 2 */
/* .carta{
    width: 335.24px;
    height: 106px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    
    
  
    flex: none;
    order: 0;
    flex-grow: 0;
} */
